# Block download TPL files for Apache and HTTPD servers
<FilesMatch "\.([[Tt][Pp][Ll])\.?">
   Order allow,deny
   Deny from all
</FilesMatch>

# Block opening compiled TPL files for Apache and HTTPD servers
<FilesMatch "\.([Tt][Pp][Ll].[Pp][Hh][Pp])\.?">
   Order allow,deny
   Deny from all
</FilesMatch>

# Block download lang packs for Apache and HTTPD servers
<FilesMatch "\.([Ll][Aa][Nn][Gg])\.?">
   Order allow,deny
   Deny from all
</FilesMatch>